@font-face {
  font-family: ShadiCard;
  src: url("./Assets/uni-sans.thin-caps.otf");
}
@font-face {
  font-family: heading;
  src: url("./Assets/uni-sans.heavy-caps.otf");
}
.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Assets/ajrak.png");
  background-repeat: repeat;
  background-size: contain;
}
.box {
  min-height: 350px;
  width: 580px;
  height: auto;
  background: rgb(255, 217, 136);
  background: radial-gradient(
    circle,
    rgba(255, 217, 136, 1) 18%,
    rgba(197, 155, 64, 1) 58%
  );
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 0rem 2rem;
  flex-direction: column;
  position: relative;
}
.box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./Assets/shadiiiiiiii.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: scale(1);
}
.head {
  color: black;
  font-size: 1rem;
  font-family: ShadiCard;
}
.advice {
  font-size: 26px;
  font-family: heading;
  color: black;
  text-align: center;
  font-weight: normal;
  transition: all 0.45s ease-in-out;
  opacity: 0;
  transform: translateX(-20px);
}
.trans {
  transform: translateX(0px);
  opacity: 1;
}
.dice-div {
  position: absolute;
  bottom: -10%;
  background-color: #ffd988;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.dice-div:hover {
  box-shadow: 0 0 20px #ffd988, 0 0 16px #ffd988, 0 0 28px #ffd988,
    0 0 50px #ffd988;
}
.dice {
  object-fit: contain;
  max-width: 100%;
  width: 40%;
}
.desk {
  display: block;
}
.mob {
  display: none;
}
.shake {
  animation: shake 150ms 2 linear;
}
@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 580px) {
  .App {
    padding: 0rem 1rem;
  }
  .box {
    max-width: 100%;
  }
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
}
@media screen and (max-width: 460px) {
  .box {
    max-width: 100%;
    min-height: 380px;
  }
  .advice {
    font-size: 23px;
  }
}
